# ==========================================
# AMD Project
# Git Ignore
# ==========================================

# Python
__pycache__/
*.py[cod]
*$py.class

# VS Code
.vscode/

# PyCharm
.idea/

# Windows
Thumbs.db
Desktop.ini

# Python Virtual Environment
.venv/
venv/
env/

# Temporary files
*.tmp
*.log

# Excel temporary files
~$*.xlsx
~$*.xls

# OS files
.DS_Store

# ==========================================
# Do NOT Ignore
# ==========================================

# input/
# output/
# DB/
# templates/